<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608959794676-9cf2avrl5qr60fo79buq5f4c7aqvo7cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608959794676-9cf2avrl5qr60fo79buq5f4c7aqvo7cc</string>
	<key>API_KEY</key>
	<string>AIzaSyBcZTWHaTB66ea_z5a2DgGtYA9K4wcOmSU</string>
	<key>GCM_SENDER_ID</key>
	<string>608959794676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.balzo.BLZFirebaseAuthenticatorExample</string>
	<key>PROJECT_ID</key>
	<string>testproject-1d132</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-1d132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608959794676:ios:8e477411cc3c074565fda1</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-1d132.firebaseio.com</string>
</dict>
</plist>